/***************************************************************
CSS Reset
***************************************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;

}



/***************************************************************
Base Rules
***************************************************************/
h1{
    font-size: 3.45rem !important;
    font-weight: 800;
}






/***************************************************************
Layout Rules
***************************************************************/
.wrap{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    
    
}
.team{
    padding-top: 5%;
    text-align: center;
    background-color: #F6F6F7;
    
}





/**************************************************************
Components
**************************************************************/
.list-group-item {
    border: 0px ;
    padding: 0.2rem 0.2rem;
    
}
.u-text-mark{
    display: inline-block;
    position: relative;
    z-index: 1;
}

 .u-text-mark::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 21%;
    background-image: url('design/team/slice2.png');     
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    bottom: -.1em;
    z-index: -1;

}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.list-group img{
    
    padding: 0.3rem;
    border-radius: 1.5rem;
}
.list-item{
    list-style: none;
}

/*************************************************************
Modules
************************************************************/
@media only screen and ( max-width: 990px){
    
    .connect{
        text-align: center;
    }
    .list-group{
        justify-content: center;
    }
    .list-group img{
        
        padding: 0rem;
        border-radius: 0rem;
    }
}
